<html>

<head>
    <title>Create Item</title>
    {% load staticfiles %}
	<link rel="stylesheet" href="{% static '/list_app/css/stylesheet.css' %}" media="screen" charset="utf-8">
</head>

<body>
    <div class="wrapper">
        <div class="header">
                <div class="upperRight">
                     <a href= '{% url "list_ns:list_index" %}' id="link">Dashboard</a>
                </div>
        </div>

          <div class="error">
            <ul>
            {% for idx in messages %}
                <li>{{ idx}}</li>
            {% endfor %}
            </ul>
        </div>
                
        <div class="contentBox">
            <form class="boxes" action= '{% url "list_ns:create" %}' method='POST'>
                    {% csrf_token %} 
                <h1>Create a New Wish List Item!</h1>
                <hr>
                <h4>Item/Product: </h4><input type="text" name="item_name">
                <input type="submit" value="Add!">
                        
             </form>
        </div>

        <form action="{% url 'list_ns:logout' %}">
            {% csrf_token %}
            <input type="submit" name="" value="logout">
        </form>
      
        
   </div>
    
</body>

</html>